<div class="row-fluid">
  <div class="span12">

  
    <%= raw(valid_error_display(@article))%>


    <%= form_for @article , :html => {:class => 'form-horizontal'} do |f| %>
      <fieldset>
        <div class="control-group">
         
          <label class="control-label"  for="Title">Title</label>
          <div class="controls">
           <%= f.text_field :title, :class => "input-xlarge span8" %>
            <p class="help-block">Name your article's title</p>
          </div>
        </div>

        <div class="control-group">
         
          <label class="control-label"  for="First name">Content</label>
          <div class="controls">
           <%= f.text_area :descriptions, :class => "span8",:rows =>"8" %>
            <p class="help-block">Your articles's description</p>
          </div>
        </div>

        <div class="control-group">
          <!-- Button -->
          <div class="controls">
          <%= f.submit 'Submit', :class => 'btn btn-success' %>
          </div>
        </div>
      </fieldset>
    <%end%>

  </div>
</div>