<div class="page-header">
  <h3>Articles
  
  <%= link_to 'New article ', new_article_path, :class => "btn btn-primary pull-right" %>
  </h3>
  
  <div class="clear"></div>
<div class="span12">
<% @articles.each do |article| %>
      <h3><%= link_to "#{article.title}", article_path(article.title) %></h3>
      <p><%= truncate(article.descriptions, :length => 300) %></p>
    <div>
        <span class="badge badge-success">Posted <%=time_ago_in_words(article.created_at)%> ago </span> by <%= link_to "#{article.user.username}", user_path(article.user.username) %><div class="pull-right">
    </div> 
    <hr>
    <% end %>
    <center><%= will_paginate @articles %></center>
</div>
