
 <div class="row">
  <div class="span12">
    <div class="row">
      <div class="span12">
        <h4><strong><a href="#"><%=@article.title %></a></strong></h4>
          By <%=link_to "#{@article.user.username}", user_path(@article.user.username) %>
          | <%=time_ago_in_words(@article.created_at)%> ago
          | <span id="sum_comment"><%=@article.comments.count%></span> <a href="#" id="just">Comments</a>
      </div>
    </div>
    <div class="row">
     
      <div class="span12">      
        <p>
          <%=@article.descriptions%>
        </p>
      
      </div>
    </div>

  </div>
</div>
<hr>
  <div class="row">
  <div class="span6">
    <h4>Comments: </h4>
    <div id="comments">
    <%= render :partial => "comments", :locals => {:comments => @comments}  %>
</div><br /><br />
  </div>
   </div>
  <div class="row">
   <div class="" id="message">
      <p class="comment_message"></p>
    </div>
    <div class="span8 givecomment">
      <legend>Add comment</legend>
      <%= form_for [@article, @comment], :remote =>true do |f| %>
        <%= f.text_area :content, :class => "span8" %>
        <%= f.submit 'Post a comment', :class => 'btn btn-primary' %>
      <% end %>
    </div>
  </div>


 
   <script type="text/javascript">
  $("#just").on("click", function( e ) {
    
      e.preventDefault();

      $("body, html").animate({ 
          scrollTop: $(".givecomment").offset().top 
      }, 600);
      
  });
   </script>

