<%= form_for @a do |f| %>
 	<%= raw(valid_error_display(@a))%>
	<p>
	<%= f.label :code %><br>
	<%= f.text_field :code %>
	</p>

	<p>
	<%= f.label :name %><br>
	<%= f.text_field :name %>
	</p>
	<p>
		<%= f.submit %>
	</p>
<% end %>