<h1>Countries List</h1>
<%= link_to 'Articles', articles_path%> | <%= link_to 'Countries', countries_path%> | <%= link_to "Users", users_path%> | <%= link_to "Products", products_path%> | <%= link_to "Categories", categories_path%>
<br>
 <%=link_to 'new', new_country_path%> <% if session[:user_id] %>
  <%= link_to("Logout", log_out_path) %>
<% else %>
  <%= link_to("Login", log_in_path) %>
<% end %>

<table>
  <tr>
    <th>Code</th>
    <th>Name</th>
  </tr>
 
  <% @countries.each do |a| %>
    <tr>
      <td><%= a.code %></td>
      <td><%= a.name %></td>
      <td><%= link_to 'Show', country_path(a) %></td>
      <td><%=link_to "Edit", edit_country_path(a.id)%></td>
      <td><%=link_to "Delete", country_path(a.id),  method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>