<%= form_for @p do |f| %>
 <% if @p.errors.any? %>
  <div id="error_explanation">
    <h2>Error</h2>
    <ul>
    <% @p.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
	<p>
	<%= f.label :Edit_Name %><br>
	<%= f.text_field :name %>
	</p>
	<p>
	<%= f.label :Edit_Description %><br>
	<%= f.text_field :name %>
	</p>
	<p>
		<%= f.submit %>
	</p>
<% end %>