


<div class="row">
  <div class="span12">
  <div class="page-header">
      <h3>Products</h3>
       <%= link_to 'New Product ', new_product_path, :class => "btn btn-primary" %>
  </div>
    <table class="table table-striped custab">
    <thead>
        <tr>
          <th>Product Name</th>
          <th>Description</th>  
          <th>Stock</th>
          <th>Price</th>
          <th>Action</th>
        </tr>
    </thead>
    <tbody>
    <% @products.each do |a| %>
    <tr>
      <td><%=a.name%></td>
      <td><%=truncate(a.description, :length=>100)%></td>
      <td><%=a.stock%></td>
      <td><%=a.price%></td>
      <td><%=link_to "Show", product_path(a)%></td>
     
    </tr>
    <% end %>
    </tbody> 
    </table>  
  </div>
</div>
