<div class="page-header">
  <h3>New Products</h3>
</div>

<div class="row-fluid">
  <div class="span12">

  
    <%= raw(valid_error_display(@p))%>


<%= form_for @p , :html => {:class => 'form-horizontal'} do |f| %>
  <fieldset>
    <div class="control-group">
     
      <label class="control-label"  for="Title">Name</label>
      <div class="controls">
       <%= f.text_field :name, :class => "input-xlarge span8" %>
        <p class="help-block">Name your product</p>
      </div>
    </div>

    <div class="control-group">
     
      <label class="control-label" for="First name">Stock</label>
      <div class="controls">
       <%= f.text_field :stock, :class => "span8",:rows =>"8" %>
        <p class="help-block">Number only</p>
      </div>
    </div>

    <div class="control-group">
     
      <label class="control-label" for="First name">Price</label>
      <div class="controls">
       <%= f.text_field :price, :class => "span8",:rows =>"8" %>
        <p class="help-block">Number only</p>
      </div>
    </div>
    <div class="control-group">
     
      <label class="control-label" for="First name">Description</label>
      <div class="controls">
       <%= f.text_area :description, :class => "span8",:rows =>"8" %>
        <p class="help-block">Your product's description</p>
      </div>
    </div>

     <div class="control-group">
     
      <label class="control-label" for="First name">Category</label>
      <div class="controls">
       <%= collection_check_boxes(:product, :category_ids, Category.all, :id, :name) %>
        <p class="help-block">Your product's description</p>
      </div>
    </div>

    <div class="control-group">
      <!-- Button -->
      <div class="controls">
      <%= f.submit 'Submit', :class => 'btn btn-success' %> <%=link_to "Back", products_path, :class =>"btn btn-primary"%>
      </div>
    </div>
  </fieldset>
<%end%>

  </div>
</div>
