<h1>Product Detail</h1>

<p>Product Name : <%=@p.name%></p>
<p>Description :<%=@p.description%></p>
<p>Creator : <%=link_to"#{@p.user.username}", user_path(@p.user.username)%></p>
<p>
	Category : <%@p.categories.each do |c|%>
	<%=link_to "#{c.name}", category_path(c.id)%>,
	<% end %>
</p>
