<h1>Edit Country</h1>


<%= form_for @a, :url=>admin_country_path(@a), :method=>"put" do |f| %>
 	<%= raw(valid_error_display(@a))%>
	<p>
	<%= f.label :code %><br>
	<%= f.text_field :code %>
	</p>

	<p>
	<%= f.label :name %><br>
	<%= f.text_field :name %>
	</p>
	<p>
		<%= f.submit %>
	</p>
<% end %>


<%=link_to "Back", admin_countries_path%>