<div class="row">
  <div class="span12">
  <div class="page-header">
      <h3>Countries</h3>
       <%= link_to 'New Country ', new_admin_country_path, :class => "btn btn-primary" %>
  </div>
    <table class="table table-striped custab">
    <thead>
        <tr>
          <th>Country Code</th>
          <th>Country Name</th>
          <th>Action</th>
        </tr>
    </thead>
    <tbody>
    <% @countries.each do |a| %>
    <tr>
      <td><%=a.code%></td>
      <td><%=a.name%></td>
      <td><%=link_to "Show", admin_country_path(a)%>
        <%=link_to "Edit", edit_admin_country_path(a)%>
        <%=link_to "Delete", admin_country_path(a), method: :delete, data: {confirm: "Are you sure?"}%></td>
     
    </tr>
    <% end %>
    </tbody> 
    </table>  
  </div>
</div>
