<h1>Insert New Country </h1>

<%= form_for @a, :url=>admin_countries_path, :method=>"post" do |f| %>
 	<%= raw(valid_error_display(@a))%>
	<p>
	<%= f.label :code %><br>
	<%= f.text_field :code %>
	</p>

	<p>
	<%= f.label :name %><br>
	<%= f.text_field :name %>
	</p>
	<p>
		<%= f.submit %>
	</p>
<% end %>

<%=link_to "Back", admin_countries_path%>