<div class="page-header">
  <h3>Articles</h3>
  
  <%= link_to 'New article ', new_admin_article_path(session[:user_id]), :class => "btn btn-primary" %>
  
</div>
<div class="row">
  <div class="span12"> 


  <table class="table table-striped custab">
    <thead>
        <tr>
            <th>Articles Title</th>
            <th>Description</th>
            <th>Writer</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= truncate(article.descriptions, :length => 50) %></td>
      <td><%=article.username%></td>
      <td><%= link_to 'Show', article_path(article.title) %>
       <%= link_to "Edit", edit_admin_article_path(article)%> <%= link_to 'Delete', admin_article_path(article), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
    </tbody> 
    </table>  
    <center><%= will_paginate @articles %></center>
      
  </div>
</div>
