
<div class="row">
	<div class="span12">
	<div class="page-header">
  		<h3>Users</h3>
	</div>
		<table class="table table-striped custab">
    <thead>
        <tr>
          	<th>Username</th>
			<th>Email</th>
			<th>Country</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    <% @users.each do |a| %>
    <tr>
      <td><%=a.username%></td>
		<td><%=a.email%></td>
		<td><%=a.name%></td>
		<td><%=link_to "Show", user_path(a)%>
		
     
    </tr>
    <% end %>
    </tbody> 
    </table>  
	</div>
</div>
