
<div class="row-fluid">
        <div class="span2" >
        <img src="http://www.medicine20congress.com/ocs/public/site/images/defaultProfile.gif" class="img-circle">
        </div>
        
        <div class="span8">
          <table border="0">
            <tr><td><h5>First Name</h5></td> <td><h5>: <%=@a.first_name%> </h5></td></tr>
            <tr><td><h5>Last Name</h5></td> <td><h5>: <%=@a.last_name%> </h5></td></tr>
            <tr><td><h5>Username</h5></td> <td><h5>: <%=@a.username%> </h5></td></tr>
            <tr><td><h5>Email</h5></td> <td><h5>: <%=@a.email%> </h5></td></tr>
            <tr><td><h5>Address</h5></td> <td><h5>: <%=@a.address%> </h5></td></tr>
            <tr><td><h5>Country</h5></td> <td><h5>: <%=@a.country.name%> </h5></td></tr>
            <tr><td><h5>Born</h5></td> <td><h5>: <%=@a.date_of_birth%> </h5></td></tr>
            <tr><td><h5>Age</h5></td> <td><h5>: <%=@a.age%> </h5></td></tr>
          </table>
           
        </div>
        
       <%= raw(display_edit_profile(@a))%>
</div>
<div class="clear"></div>
<div class="page-header">
  <h4><%=@a.username%>'articles</h4>
</div>
<div class="row-fluid">
  <table class="table table-striped custab">
    <thead>
        <tr>
            <th>Articles Title</th>
            <th>Description</th>
            
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    <% @ar.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= truncate(article.descriptions, :lenght=>50) %></td>
      
      <td><%= link_to 'Show', article_path(article) %>
      
      <%= raw(display_crud_for_user(@a,article))%>
       </td>
      
    </tr>
    <% end %>
    </tbody> 
    </table>  
</div>
<div class="row-fluid">
  <div class="page-header">
      <h4><%=@a.username%>'product</h4>
  </div>
  <table class="table table-striped custab">
    <thead>
        <tr>
          <th>Product Name</th>
          <th>Description</th>  
          <th>Stock</th>
          <th>Price</th>
          <th>Action</th>
        </tr>
    </thead>
    <tbody>
    <% @a.products.each do |product| %>
    <tr>
      <td><%=product.name%></td>
      <td><%=truncate(product.description, :length=>100)%></td>
      <td><%=product.stock%></td>
      <td><%=product.price%></td>
      <td><%=link_to "Show", product_path(product)%>
      <%=raw(disp_crud_prod_user(@a,product))%>
      </td>
     
    </tr>
    <% end %>
    </tbody> 
    </table>  
</div>

