<h1>Edit Product</h1>
<%= raw(valid_error_display(@p))%>
<%= form_for @p , :url => admin_product_path(@p), :method => 'PUT'  do |f| %>
  
	<p>
	<%= f.label :Edit_Name %><br>
	<%= f.text_field :name %>
	</p>
	<p>
		<%= f.label :Edit_stock%><br>
		<%= f.text_field :stock %>
	</p>
	<p>
		<%= f.label :"Edit price" %><br>
		<%= f.text_field :price %>
	</p>
	<p>
	<%= f.label :Edit_Description %><br>
	<%= f.text_field :name %>
	</p>
	<p>
		<%= f.submit %>
	</p>
<% end %>