<div class="row">
  <div class="span12">
  <div class="page-header">
      <h3>Products</h3>
       <%= link_to 'New Product ', new_admin_product_path, :class => "btn btn-primary" %>
  </div>
    <table class="table table-striped custab">
    <thead>
        <tr>
          <th>Product Name</th>
          <th>Description</th>
          <th>Action</th>
        </tr>
    </thead>
    <tbody>
    <% @p.each do |a| %>
    <tr>
      <td><%=a.name%></td>
      <td><%=a.description%></td>
      <td><%=link_to "Show", admin_product_path(a)%>
        <%=link_to "Edit", edit_admin_product_path(a)%>
        <%=link_to "Delete", admin_product_path(a), method: :delete, data: {confirm: "Are you sure?"}%></td>
     
    </tr>
    <% end %>
    </tbody> 
    </table> 

    <center><%= will_paginate @p %></center> 
  </div>
</div>
