 

<div class="container">
    <div class="row">
        <div class="span4 offset4 well">
            <legend>Login</legend>
        
          <%= raw(message_notice_error_login)%>
           <%= form_tag(post_login_path, method: :post, :class =>"form-horizontal") %> 
            <%= text_field_tag :email, nil, class: 'span4', placeholder: 'Email' %>
            <%= password_field_tag :password, nil, class: 'span4', placeholder: 'Password' %>
            <p>
            <button type="submit" name="submit" class="btn btn-info btn-block">Login</button>
            </p>
           
        </div>
    </div>
</div>