<!DOCTYPE html>
<html>
<head>
  <title>App</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag  "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
	<div class="navbar">
				<div class="navbar-inner">
					<div class="container-fluid">
						 <a data-target=".navbar-responsive-collapse" data-toggle="collapse" class="btn btn-navbar"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></a> <a href="#" class="brand">App</a>
						<div class="nav-collapse navbar-responsive-collapse in collapse">
							<ul class="nav">
							<%=raw(display_menu)%>
								
							</ul>
							<ul class="nav pull-right">
								<li class="divider-vertical">
								</li>
								<li>
									<%= raw(show_current_user) %>
								</li>
							</ul>
						</div>
						
					</div>
				</div>
				
			</div>	
			<%=raw(message_notice_display)%>
</header>
<div class="container">
			<%=raw(message_notice_header)%>
	<%= yield %>

	<footer>
		
	</footer>
</div>

</body>
</html>

