<li>
									<% if session[:user_id] %>
									  <li class="dropdown">
									 <a data-toggle="dropdown" class="dropdown-toggle" href="#"><%=session[:username]%><strong class="caret"></strong></a>
									<ul class="dropdown-menu">
										<li>
											<%= link_to("Profile", user_path(session[:username])) %>
										</li>
										<li>
											<%= link_to("Logout", log_out_path) %>
										</li>
										
									</ul>
								</li>
									<% else %>
										<li><%= link_to("Signup", sign_up_path, "data-no-turbolink" => true) %></li>
										<li><%= link_to("Login", log_in_path) %></li>
									  
									<% end %>
								</li>