


<div class="row">
  <div class="span12">
  <div class="page-header">
      <h3>Categories</h3>
  </div>
    <table class="table table-striped custab">
    <thead>
        <tr>
          <th>Category Name</th>
          <th>Action</th>
        </tr>
    </thead>
    <tbody>
    <% @categories.each do |a| %>
    <tr>
      <td><%=a.name%></td>
      <td><%=link_to "Show", category_path(a)%></td>
     
    </tr>
    <% end %>
    </tbody> 
    </table>  
  </div>
</div>
