
<div class="row">
  <div class="span12">
  <div class="page-header">
      <h3>Category <%=@c.name%></h3>
  </div>
    <table class="table table-striped custab">
    <thead>
        <tr>
          <th>Product Name</th>
          <th>Description</th>
          <th>Action</th>
        </tr>
    </thead>
    <tbody>
    <% @c.products.each do |a| %>
    <tr>
      <td><%=a.name%></td>
      <td><%=a.description%></td>
      <td><%=link_to "Show",product_path(a)%></td>
     
    </tr>
    <% end %>
    </tbody> 
    </table> 

    
  </div>
</div>