
<div class="row">
  <div class="span12">
  <div class="page-header">
      <h3>Category <%=@c.name%></h3>
  </div>
   <%= form_for @c, :url => admin_category_path(@c), :method => "put"  do |f| %>
	 <%= raw(valid_error_display(@c))%>
		<p>
		<%= f.label :Enter_Category_name %><br>
		<%= f.text_field :name %>
		</p>
		<p>
			<%= f.submit %>
		</p>
	<% end %>

    
  </div>
</div>