<div class="row">
  <div class="span12">
  <div class="page-header">
      <h3>Categories</h3>
       <%= link_to 'New Category ', new_admin_category_path, :class => "btn btn-primary" %>
  </div>
    <table class="table table-striped custab">
    <thead>
        <tr>
          <th>Category Name</th>
          <th>Action</th>
        </tr>
    </thead>
    <tbody>
    <% @categories.each do |a| %>
    <tr>
      <td><%=a.name%></td>
      <td><%=link_to "Show", category_path(a.name)%>
        <%=link_to "Edit", edit_admin_category_path(a.name)%>
        <%=link_to "Delete", admin_category_path(a.name), method: :delete, data: {confirm: "Are you sure?"}%></td>
     
    </tr>
    <% end %>
    </tbody> 
    </table>  
  </div>
</div>
