<%= form_for @c, :url => admin_categories_path, :method =>"post" do |f| %>
 <%= raw(valid_error_display(@c))%>
	<p>
	<%= f.label :Enter_New_Category_name %><br>
	<%= f.text_field :name %>
	</p>
	<p>
		<%= f.submit %>
	</p>
<% end %>