$("#comments").html(" <%= j( render :partial => "articles/comments", :locals => {:comments => @comments} ) %>")
$("#comment_content").val("");
$("#message").addClass("span6 alert alert-success").fadeOut(5000);
$(".comment_message").text("Successfully add comment");

