
<div class="page-header">
  <h3>Edit Profil User</h3>
</div>
<div class="row-fluid">
	<div class="span12">
    <%= raw(valid_error_display(@a))%>

<%= form_for @a, :html => {:class => 'form-horizontal'} do |f| %>
  <fieldset>
    <div class="control-group">
     
      <label class="control-label"  for="First name">First Name</label>
      <div class="controls">
       <%= f.text_field :first_name, :class => "input-xlarge" %>
        <p class="help-block">First name can not contain  numbers</p>
      </div>
    </div>
 
    <div class="control-group">
      
      <label class="control-label" for="Last name">Last Name</label>
      <div class="controls">
       <%= f.text_field :last_name, :class => "input-xlarge" %>
        <p class="help-block">First name can not contain  numbers</p>
      </div>
    </div>
    <div class="control-group">
      
      <label class="control-label" for="email">Email</label>
      <div class="controls">
       <%= f.text_field :email, :class => "input-xlarge" %>
        <p class="help-block">First name can not contain  numbers</p>
      </div>
    </div>
    <div class="control-group">
      
    <label class="control-label" for="username">Username</label>
      <div class="controls">
       <%= f.text_field :username, :class => "input-xlarge" %>
        <p class="help-block">Your username</p>
      </div>
    </div>
    <div class="control-group">
      
    <label class="control-label" for="password">Password</label>
      <div class="controls">
       <%= f.password_field :password, :class => "input-xlarge" %>
        <p class="help-block">Your password</p>
      </div>
    </div>

    <div class="control-group">
      
    <label class="control-label" for="Birth">Born</label>
      <div class="controls">
       <%= f.text_field :date_of_birth, :class => "input-xlarge" %>
        <p class="help-block">Your date of birth</p>
      </div>
    </div>
    <div class="control-group">
      
    <label class="control-label" for="age">Age</label>
      <div class="controls">
       <%= f.text_field :age, :class => "input-xlarge" %>
        <p class="help-block">Your age</p>
      </div>
    </div>
    <div class="control-group">
      
    <label class="control-label" for="address">Address</label>
      <div class="controls">
       <%= f.text_field :address, :class => "input-xlarge" %>
        <p class="help-block">Your address</p>
      </div>
    </div>
    <div class="control-group">
      
    <label class="control-label" for="address">Country</label>
      <div class="controls">
       <%=f.collection_select :country_id, Country.all, :id, :name %>
        <p class="help-block">Your country</p>
      </div>
    </div>

     <div class="control-group">
      <div class="controls">
      <%= f.submit 'Edit profile', :class => 'btn btn-success' %>
      </div>
    </div>
    
  </fieldset>
<%end%>

	</div>
</div>