
	
<div class="row-fluid">
        <div class="span2" >
        <img src="http://www.medicine20congress.com/ocs/public/site/images/defaultProfile.gif" class="img-circle">
        </div>
        
        <div class="span8">
          <table border="0">
            <tr><td><h5>First Name</h5></td> <td><h5>: <%=@a.first_name%> </h5></td></tr>
            <tr><td><h5>Last Name</h5></td> <td><h5>: <%=@a.last_name%> </h5></td></tr>
            <tr><td><h5>Username</h5></td> <td><h5>: <%=@a.username%> </h5></td></tr>
            <tr><td><h5>Email</h5></td> <td><h5>: <%=@a.email%> </h5></td></tr>
            <tr><td><h5>Address</h5></td> <td><h5>: <%=@a.address%> </h5></td></tr>
            <tr><td><h5>Country</h5></td> <td><h5>: <%=@a.country.name%> </h5></td></tr>
            <tr><td><h5>Born</h5></td> <td><h5>: <%=@a.date_of_birth%> </h5></td></tr>
            <tr><td><h5>Age</h5></td> <td><h5>: <%=@a.age%> </h5></td></tr>
          </table>
           
        </div>
        
       
</div>
<div class="clear"></div>
<div class="page-header">
  <h4><%=@a.username%>'articles</h4>
</div>
<div class="row-fluid">
  <table class="table table-striped custab">
    <thead>
        <tr>
            <th>Articles Title</th>
            <th>Description</th>
            
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    <% @ar.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= truncate(article.descriptions, :lenght=>50) %></td>
      
      <td><%= link_to 'Show', admin_article_path(article) %>
        <%= link_to 'Edit', edit_admin_article_path(article) %>
        <%= link_to 'delete', admin_article_path(article), method: :delete, data: {confirm: "Are you sure?"} %>
       </td>
      
    </tr>
    <% end %>
    </tbody> 
    </table>  
</div>

